boltons
pre-commit
numpy
pandas
scikit-learn
scikit-image
opencv-python
joblib
optuna
pydantic
pandera
pytorch-lightning==1.4
requests
toml
torch
torchvision==0.10.1
tqdm
mlflow
fastapi
lightgbm
black
isort
torchmeta
ray
ray_lightning
google-api-python-client
cryptography
wandb
strictyaml
git+https://www.github.com/mouseland/cellpose.git
git+https://github.com/PytorchLightning/lightning-bolts.git@master
